.splineGalery__container {
    position: relative;
    display: flex;
    gap: 20px;   
    align-items: center;
    width: 100%;
    width: 400px;
    height: 400px;
    background-color: #fcdd63;
    margin: 40px 0;
    border-radius: 15px;
    justify-content: center;
}
.spline-wrap{
  position: relative;
  width: 400px;             /* ancho objetivo */
  aspect-ratio: 200 / 200;  /* alto sale solo (250px) */
  height: auto;
  overflow: hidden;
  flex: 0 0 400px;          /* evita que Flex lo estire */
  border-radius: 15px;
  margin: 40px;
}
/* el div interno que monta Spline */
.spline-wrap > div{
  position: absolute;
  inset: 0;                 
/*   width: 100% !important;
  height: 100% !important; */
}

/* el canvas debe llenar el wrapper, no más grande */
.spline-wrap canvas{
  display: block;
  position: absolute;
  inset: 0;
  width: 100% !important;
  height: 100% !important;
  max-width: 100%;
  max-height: 100%;
}
/*Solo para esa tarjeta*/
.spline-wrap .spline-capture {
  position: absolute;
  inset: 0;
  pointer-events: auto;
}
.card{
  position: relative;
  width: 100%;
  height: 180px;
  overflow: hidden;
  border-radius: 10px;
}
.ribbon{
  position: absolute;
  top: 22px;
  right: -40px;
  padding: 4px 0;
  width: 150px;
  text-align: center;
  background: #e63946;
  color: white;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  transform: rotate(45deg);
  box-shadow: 0 2px 6px rgba(0,0,0,.3);
  pointer-events: none;
}
@media (max-width: 767px) {
  .splineGalery__container {
    width: 100%;
    height:fit-content;
  }
  .spline-wrap {
    width: 100%;
    flex: 0 0 100%;
    top:0;
    padding: 0;
    margin: 0;
  }
}