.TituloSeccion__container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    background-color: chocolate;
    border-radius: 10px;
    top: 0px;
}
@media (max-width: 500px) {
    .TituloSeccion__container {
        width: 100%;
    }
}